{% extends 'base.html' %}

{% block content %}
  
{% for product in products %}
{{ product }}</br>
{{ product.name }}</br>
{{ product.price }}</br>
{% endfor %}

                <div
                  class="table-responsive"
                >
                <button onclick=
                        "window.location.href = '/about_us';">About us</button>
                      

                        <a href="/add_product">Add Product</a></br>
                        <!-- <a href="% url add-product">Add Product</a> -->
                  <table
                    class="table table-striped table-hover table-borderless table-primary align-middle"
                  >
                    <thead class="table-light">
                      <caption>
                        products list
                      </caption>
                      <tr>
                        <th>NAME</th>
                        <th>PRICE</th>
                        <th>SIZE</th>
                        <th>COLOR</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for product in products %}
                          <tr><td scope="row">{{ product.name }}</td>
                          <td>{{ product.price }}</td>
                          <td>{{ product.size }}</td>
                          <td>{{ product.color }}</td>
                          </tr>
                        {% endfor %}
                      </tr>
                    </tbody>
                    <tfoot>
                      
                    </tfoot>
                  </table>
                </div>
                
                
              </tbody>
            </table> 

{% endblock %}
