{% extends 'base.html' %}

{% block content %}

<h3>Authentication</h3>
<div class="container mt-5">
    <h2>welcome to authentication module</h2>
    <ul>
        <li>in this one can just Register</li>
        <li>we have also django user model</li>
        <li>we used authenticate() function for authentication of user</li>
        <li>i have used login required decorator to make sure login is required while accessing List A/c page</li>
        <li>And using same credentials can be login again</li>
    </ul>
</div>

{% endblock %}