{% extends 'base.html' %}

{% block start %}
    <header class="header">
        <div class="left">
            <img src="/PROJECT/GYM/IMG/logo-removebg-preview.png" height="52px" width="48px">
            <div>Andy's Fitness Gym</div>
        </div>

        <div class="mid">
            <ul class="navbar">
                <li><a href="" target="_blank" target="_blank"> Home</a></li>
                <li><a href="" target="_blank" target="_blank"> Join Us</a></li>
                <li><a href="" target="_blank" target="_blank"> Calorie Calculator</a></li>
                <li><a href="" target="_blank" target="_blank"> About Us</a></li>
                <li><a href="" target="_blank" target="_blank"> Contact Us</a></li>
            </ul>
        </div>

        <div class="right">
            <button class="btn">Call Us</button>
            <button class="btn">Email US</button>
        </div>
    </header>
    <div class="container">
        <h1>Join Us Now</h1>
        <p>Andy's gym now in <strong>DHAISAR</strong> </p>
        <form action="noaction.php">
            <table>
                <tr>
                    <td><label for="@name">Name</label></td>
                    <td><input class="Uinput" type="text" placeholder="Enter Your Name" id="@name"></td>
                </tr>
                <tr>
                    <td><label for="@gender">Gender</label></td>
                    <td>MALE<input class="radio" type="radio">FEMALE<input class="radio" type="radio">OTHERS<input type="radio"></td>
                </tr>
                <tr>
                    <td><label for="@name">AGE</label></td>
                    <td><input class="Uinput" type="number" placeholder="Enter Your Age"></td>
                </tr>
                <tr>
                    <td><label for="@Phone">Phone NO</label></td>
                    <td><input class="Uinput" type="text" placeholder="Enter Your PHONE NO" id="@Locality"></td>
                </tr>
                <tr>
                    <td><label for="@Locality">Locality</label></td>
                    <td><input class="Uinput" type="text" placeholder="Enter Your Locality" id="@Locality"></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}